h1,h2 {
  color: black;
  text-align: center;
  font-style: arial:
}

h3 {
  color: white;
  text-align: center;
  font-style: arial:
}

}

h4 {
  color: black;
  font-size: 120%;
}

p {
  color: green;
  text-align: center;
}
